{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}

  <div class="product-detail">
    <img src="{{product.image.url}}">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.category }}
      </a>
    </h2>
    <p class="price">{{ product.price }} ₽</p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="Add to cart">
    </form>
    {{ product.description }}
  </div>
{% endblock %}
http://127.0.0.1:8000/4/krupa-mannaya-mistral/media/products/2b797fe54ac2414ab59418042026b1a7.jpg
